<div class="relative items-start justify-between rounded-xl border border-gray-100 p-4 shadow-xl sm:p-6 lg:p-8 mx-auto w-[70%] bg-white mt-4">
  <h2 class="text-center text-lg font-bold my-2">What Do Categories Mean?</h2>

  <p class="my-2">
    The categories are there so that you can recognise where terms are used in the games and for what purpose, as well as the nature of the word used.
  "Labels" are the terms used in the menus or intercafe of the games, "Credits" are the terms used in the credits of the game, "Actions" are the
  commands you will give in the games, "Status" are the results of these commands, "Grades" are the terms used to rate anything, and "Sentences"
  are long stereotyped sentences or expressions.
  </p>

  <h2 class="text-center text-lg font-bold my-4">What Do Abbreviations Mean?</h2>

  <p class="my-2">
    <b>Sth:</b> Something <br>
    <b>Sb:</b> Somebody <br>
    <b>e.g:</b> For example <br>
    <b>IM:</b> In menus, usually to indicate if some action with noun form appears in menus. Not menu actions. <br>
  </p>

  <h2 class="text-center text-lg font-bold my-4">What Do Word Class Mean?</h2>

  <p class="my-2">
    The column word class for each word represents its grammatical classification. Word types give a great deal of information about the word or phrase
    and their function in a sentence. Word classes that are used in this dictionary are; <br>
    <b>N: Noun</b>; is a word that identifies people, places or things. In the dictionary, the following words are examples of a noun: team, sword, experience,
    composer etc.<br>
    <b>NP: Noun Phrase</b>; is a group of two or more words headed by a noun with modifiers. In the dictionary, the following words are examples of a noun
    phrase: cooked meat, creator mode, fist weapon, great axe, holographic sight, shadow quality etc.<br>
    <b>V: Verb</b>; is a word that shows action, occurrence or state of being. Verbs can change meaning according to which tense or function it uses. In the
    dictionary, the following words are examples of a verb: save, matchmake, go, eject, drink etc.<br>
    <b>VP: Verb Phrase</b>; is a group of words that act as a verb in a sentence. In the dictionary, the following words are examples of a verb phrase: manage
    profile, pass time, read more, hide weapon, quit game etc.<br>
    <b>ADJ: Adjective</b>; is a word that modifies or describes a noun or pronoun. In the dictionary, the following words are examples of an adjective: online,
    noble, magical, challenging etc.<br>
    <b>ADJ P: Adjective Phrase</b>; is a phrase that is headed by an adjective. In the dictionary, the following words are examples of an adjective phrase: highly
    skilled, last picked up etc.<br>
    <b>ADV: Adverb</b>; is a word that modifies or describes a verb, an adjective, another adverb or entire sentence. In the dictionary, the following words
    are examples of an adverb: away, far away etc.p<br>
    <b>Prep.: Preposition</b>; is a word or group of words that are used to show direction, time, place, location, spatial relationships or to introduce and object.
    In the dictionary, the following words are examples of a preposition: up, about, down etc. <br>
    <b>Pl: Plural</b>; is used in a grammatical form and denotes the meaning of more than one, and appears in “s” in words. In the dictionary, the following words
    are examples of a plural form: dogs, rewards, shears, timestamps etc.<br>
    <b>Imp: Imperative</b>; is a verb form that is used to give command to the person being addressed; however, in this dictionary, it acts as a lead role for the
    player. In the dictionary, the following words are examples of an imperative form: trade, load, enable, dig, etc.<br>
    <b>T: Transitive</b>; is a verb that requires an object to receive an action. In the dictionary, the following words are examples of a transitive verb: defeat,
    discover, recommend, expand etc.<br>
    <b>I: Intransitive</b>; is a verb that does not take an object. In the dictionary, the following words are examples of an intransitive verb: exit, interact, peek,
    talk, etc.<br>
    <b>Past: Past</b>; is a form of a verb that is used to describe actions, events or states that happened before the present time. In the dictionary, the following
    words are examples of a past form: talked, guarded, closed, archived etc.<br>
    <b>PrCon: Present Continuous</b>; is a form of a verb that indicates an action or condition is happening now, frequently, and may continue into the future.
    However, in this dictionary ‘present continuous’ is used only to describe events that are happening ‘now’. In the dictionary, the following words are
    examples of a present continuous form: bleeding, flashing, racing, stealing etc.<br>
    <b>Pass: Passive</b>; is a form which the subject does not perform the action of the sentence. In the dictionary, the following words are examples of a passive
    form:  slowed – this carries a past passive meaning – something was slowed by someone.<br>
    <b>Act: Active</b>; is a form which the subject performs the action denoted by the verb. In the dictionary, the following words are examples of an active form:
    knifing – somebody is knifing somebody, ran – somebody escaped.<br>
    <b>Abbr.: Abbreviation</b>; is a shortened form of a word or a phrase. In the dictionary, the examples of abbreviations are: pro (professional), max (maximum),
    INT (intelligence), etc.<br>
    <b>Acr.: Acronym</b>; is a stand-in for a string of words, usually an organization name, slogan, or something else equally wordy. Unlike abbreviations, they are
    not shorter spellings of words—they are made up of the words' initials. In the dictionary, the following words are examples of an acronym:
    RPG (role playing game), FPS (first person shooter), etc.<br>
    <b>Det.: Determiner</b>; is a word that modifies, describes or introduces a noun. In the dictionary, the following word is an example of a determiner: all<br>
    <b>Interrogative: Interrogative</b>; is a question form. In the dictionary, the following sentence is an example of an interrogative sentence: Exit to desktop?<br>
    <b>Expression: Expression</b>; is a word or group of words having a particular meaning or used in a particular way. In the dictionary, the following words are
    examples of an expression: For More Information, Game Over, In-App Purchase, etc.<br>
    <b>Pronoun: Pronoun</b>; is a word that stands in for a noun. In the dictionary, the following words are examples of a pronoun: nobody, none.<br>
    <b>Interjection: Interjection</b>; a word or phrase used to express a feeling or to request or demand something. In the dictionary, the following words are
    examples of an interjection: Yes, No, OK.
  </p>
</div>
