<div class="relative items-start justify-between rounded-xl border border-gray-100 p-4 shadow-xl sm:p-6 lg:p-8 mx-auto w-[70%] bg-white mt-4">
  <h1 class="text-center text-2xl font-bold mt-2">Turkish for Indie Game Developers</h1>

  <h2 class="text-center text-lg font-bold my-2">What is Turkish for Indie Game Developers?</h2>

  <p>
    In short, TIGD is a English-Turkish online dictionary for small-scale games and developers. We aim to improve the
    translation quality of machine-translated games by providing free categorised translation memories, an online
    dictionary and a community for post-translation editing. You can translate your small-scale games that do not
    need dialogue translation accurately through the tools we offer you, and then you can send us your suggestions
    and requests from the community we have created on the reddit platform and our website. We will continue to
    expand our online dictionary in line with your requests and suggestions.
  </p>
  <br>
  <p>
    The reason why I intented to start this project is that I have encountered so many poor machine-translated
    games which were so terrible that I chose to play the game in English. As a translator who loves to play games,
    I wanted to develop a tool that would allow developers to easily fix these translation errors. While creating the
    dictionary, we examined popular games that greatly have been localised to Türkiye.
  </p>

  <h2 class="text-center font-bold my-2 text-lg"> How To Use</h2>

  <p>
    You can use the translation memories that we have shared on Reddit or here on the website to translate your
    games by running them through any computer assisted translation software in accordance with their categories,
    and then you can correct the errors caused by conflicts by looking at the explanations from the dictionary. After
    following these steps, you can share with us the texts you would like us to examine and correct on the Reddit
    platform.
  </p>
</div>
