<div class="relative items-start justify-between rounded-xl border border-gray-100 p-4 shadow-xl sm:p-6 lg:p-8 mx-auto w-1/2 bg-white">
  <%= form_with model: @keyword, url: keywords_path, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper', turbo: false } do |f| %>
    <%= render "form", f: f %>
    <div class="w-full">
      <%= f.submit 'Save', class: "btn btn-blue mt-4" %>
    </div>
  <% end %>
</div>
